<!DOCTYPE html>
<html lang="en"
      xmlns:th='http://www.thymeleaf.org'
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'
>

<head th:replace="~{fragments/head}">
</head>

<body>

<div th:replace="~{fragments/navbar}">
</div>

<div class="container">
    <div class="col center-block">
    <h2 class="text-center text-white">Register User</h2>
    <form
            th:action="@{/users/register}"
            th:method="POST"
            th:object="${userRegistrationDTO}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="firstName" class="text-white font-weight-bold">First Name</label>
                <input  id="firstName"
                        th:field="*{firstName}"
                        th:errorclass="'is-invalid alert-danger'"
                        type="text" min="2" max="20" class="form-control"
                       placeholder="First name"/>
                <p th:if="${#fields.hasErrors('firstName')}"
                   th:errors="*{firstName}"
                        class="errors alert alert-danger">
                    First name is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="lastName" class="text-white font-weight-bold">Last Name</label>
                <input id="lastName"
                       th:field="*{lastName}"
                       th:errorclass="'is-invalid alert-danger'"
                       type="text" min="2" max="20" class="form-control"
                       placeholder="Last name"/>
                <p th:if="${#fields.hasErrors('lastName')}"
                   th:errors="*{lastName}"
                        class="errors alert alert-danger">
                    Last name is required.
                </p>
            </div>
        </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="email" class="text-white font-weight-bold">Email</label>
                    <input id="email"
                           th:field="*{email}"
                           th:errorclass="'is-invalid alert-danger'"
                           type="text" min="2" max="20" class="form-control"
                           placeholder="Email"/>
                    <p th:if="${#fields.hasErrors('email')}"
                       th:errors="*{email}"
                            class="errors alert alert-danger">
                        Email is required.
                    </p>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label class="text-center text-white font-weight-bold" for="gender">Gender</label>
                    <select id="gender"
                            th:field="*{gender}"
                            class="form-control">
                        <option value="">- Select gender -</option>
                        <option th:each="g :${T (bg.softuni.blockbusterMovies.model.entity.enums.Gender).values()}"
                                th:text="${g}"
                                th:value="${g}">

                        </option>

                    </select>
                    <p th:if="${#fields.hasErrors('gender')}"
                       th:errors="*{gender}"
                            class="errors alert alert-danger">Gender is required!</p>
                </div>
            </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="age" class="text-white font-weight-bold">Age</label>
                <input id="age"
                       th:field="*{age}"
                       th:errorclass="'is-invalid alert-danger'"
                       type="text" min="2" max="20" class="form-control"
                       placeholder="Age"/>
                <p th:if="${#fields.hasErrors('age')}"
                   th:errors="*{age}"
                        class="errors alert alert-danger">
                    Age is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="password" class="text-white font-weight-bold">Password</label>
                <input id="password"
                       th:field="*{password}"
                       th:errorclass="'is-invalid alert-danger'"
                       type="password" min="2" max="20" class="form-control"
                       placeholder="Password"/>
                <p th:if="${#fields.hasErrors('password')}"
                   th:errors="*{password}"
                        class="errors alert alert-danger">
                    Password is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="password" class="text-white font-weight-bold">Confirm Password</label>
                <input id="confirmPassword"
                       th:field="*{confirmPassword}"
                       th:errorclass="'is-invalid alert-danger'"
                       type="password" min="2" max="20" class="form-control"
                       placeholder="Confirm Password"/>
                <p th:if="${#fields.hasErrors('confirmPassword')}"
                   th:errors="*{password}"
                        class="errors alert alert-danger">
                    Confirm password is required.
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col col-md-12">
                <div class="button-holder d-flex text-md-center">
                    <input type="submit" class="btn btn-info btn-lg" value="Register"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
     <footer> </footer>
</div>

</body>
</html>
